th, td {
    width:20%;
}

th:nth-child(1),
td:nth-child(1) {
    width:60%;
}

td.price {
    text-align:right;
}

#cart-total {
    float:right;
    font-size:16px;
}

#checkout {
    clear:right;
    float:right;
    margin-top:10px;
}

#checkout-alert,
#checkout-info,
#checkout-success {
    clear:right;
    display:none;
    float:right;
    margin-top:10px;
}

#logout-button {
    display:none;
}

.new-price {
    color:green;
    font-weight:bold;
}

.orig-price {
    text-decoration:line-through;
    color:#cc0000;
}

#workflow-options h4 {
    margin-top:0;
}

#signup-login{
    display:none;
}

#signup-button {
    font-size:11px;
    margin-right:10px;
}

#signup-example,
#cart-example {
    float:left;
    width:980px;
}

.signup-step {
    background:#f8f8f8;
    border:1px solid #e5e5e5;
    border-radius: 12px;
    display:none;
    padding: 4px 12px 12px 12px;
    width:400px;
}

.signup-step.step-1 {
    display:block;
}