body {
    margin:20px;
}

a {
    cursor:pointer;
}

#wrapper {
    margin:auto;
    overflow:hidden;
    width:980px;
}

#example {
    display:none;
    overflow:hidden;
    width:1960px;
}

.left-col,.right-col {
    float:left;
    padding:10px;
    width:470px;
}

header {
    overflow:hidden;
}

header .right-col {
    margin-top: 18px;
    text-align:right;
}

tr.header {
    background:#f5f5f5;
}